body{
      font-family: sans-serif;
    }
    #files{
      list-style: none;
    }
    
    .du{
      vertical-align:middle;
      line-height: 100px;
      text-align: center;
      width: 350px;
      height: 100px;
      color: grey;
      border: 1px dotted grey;
    }
    
    .hover{
      color: black !important;
      border: 3px solid black !important;
    }
    
    .progress-frame{
      display: inline-block;
      background-color: #dbdbdb;
      width: 100px;
      border-radius: 2px;
      border: 1px solid #c0c0c0;
      overflow: hidden;
    }